.AboutMe {
  background-color: var(--accent-color1);

}

.AboutMe p {
  grid-column: 1;
}

.AboutMe div {
  grid-column: 2;
}

.Projects {
  background-color: var(--accent-color2);
}

.Projects p {
  grid-column: 2;
}

.Projects div {
  grid-column: 1;
}

.Contact {
  background-color: var(--accent-color3);
}

