.FeaturedProjects {
  margin-top: 2rem;
  padding-top: 1rem;
}

.FeaturedProjects .Info{
  display: flex;
  gap: 2rem;
  margin: 1rem 0px;
}

.FeaturedProjects img {
  width: 50%;
  object-fit: contain;
  border-radius: 10px;
  border: 2px solid var(--font-color);
}

.BodyMobile .FeaturedProjects .Info {
  display: flex;
  flex-flow: column-reverse;
  gap: 20px;
}

.BodyMobile .FeaturedProjects img{
  width: 100%;
}

.BodyMobile .FeaturedProjects .Project .tags {
  display: flex;
}
