.MoreProjects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.MoreProjects img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.MoreProjects h4 {
  margin: 1rem 0px;
}

.BodyMobile .MoreProjects {
  display: flex;
  flex-flow: column;
}

