.NavBar {
  padding: 0px;
}


.NavBar ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 1rem;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.NavBar li{
  list-style: none;
  border-left: 1px solid var(--font-color);
  padding: 17px;
}